extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        //- Add your name.
        h1 Renato Guimaraes Nunes

        //- Feel free personalize the title below
        p.lead.text-light
          | Full Stack JavaScript Developer.

        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | I’m Brazilian, traveler and Full Stack Javascript Developer. I have been developing websites and applications for the past 2 years. 
            | Most of my experience lies in full stack development and web design. I have experience working with Javascript, NodeJS, JSON, HTML, CSS, and frameworks like jQuery and Express.
            | I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technical Skills

        //- Replace the text in the li tags below with your own skills.  At this point, you should be able to list at least ten skills.
        ul
          li Javascript
          li CSS
          li HTML
          li JSON
          li jQuery
          li Node.js
          li Express
          li Pug
          li Git
          li NPM
        h6 Contact Info

        //- Add your own contact info
        ul
          li (201) 779-1664
          li renatognunes@hotmail.com

        //- Add URLs to the hrefs below to link to your social media accounts.
        a.button.expanded(href='https://www.linkedin.com/in/renatognunes/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/renatognunes', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/renatognunes', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  