extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Renato G. Nunes

        p.lead.text-light
          i| Full Stack JavaScript Developer

        .portfolio-bio
          p
            | I’m Brazilian, traveler and Full Stack Javascript Developer. I have been developing websites and applications for the past 2 years. 
            | Most of my experience lies in full stack development and web design. I have experience working with Javascript, NodeJS, JSON, HTML, CSS, and frameworks such as jQuery and Express.
            | I enjoy being challenged and engaging with projects that require me to work outside my comfort and knowledge set, as continuing to learn new languages and development techniques.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technical Skills

        ul
          li Javascript
          li CSS
          li HTML
          li JSON
          li jQuery
          li Node.js
          li Express
          li Pug
          li Git
          li NPM
        h6 Contact Info

        ul
          li (201) 779-1664
          li renatognunes@hotmail.com

        a.button.expanded(href='https://www.linkedin.com/in/renatognunes/', target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/renatognunes', target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/renatognunes', target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  