extends layout.pug

block content 
  article.grid-container.portfolio-intro
    div

      h1 Projects

      p.lead.text-ligh
        | These are some of my latest projects. 
        br
        | All projects are open-source and available on 
        a(href='https://github.com/renatognunes', target='_blank') my GitHub page. 
  article.grid-container.portfolio-index
    
    .grid-x.grid-margin-x.small-up-2.medium-up-2.large-up-3

      each project in projects
        .cell
          a(href=`/project/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`)
            h5= project.project_name
      
